/*
Author:			redissx (ICQ: 275116000, E-mail: redissx@gmail.com, Website: webrambo.ru ) 

/* sbros i vsyakoe
----------------------------------------------- */

html, body, div, span, object, iframe, frame, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li, fieldset, textarea, select, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, figure, figure img, hgroup, footer, header, nav, section {
    display: block;
}

body {
    font: 12px Arial, Helvetica, sans-serif;
    line-height: normal;
    padding: 0;
    margin: 0;
    color: #000;
    background: #0396A6;
    height: 100%;
    width: 100%;
}

a {
    color: #028ac2;
    text-decoration: none;
}

a:hover, a:focus {
    color: #028ac2;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* offline tpl
----------------------------------------------- */

.off-wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.7);
    min-height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.off-head {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e3e3e3;
}

.off-head h1 {
    display: block;
    float: right;
    width: 550px;
    font: bold 30px Tahoma;
    color: #444444;
    text-align: center;
    line-height: 200px;
}

.off-head h2 {
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    background-color: #de0505;
    color: #ffffff;
    font: bold 24px Tahoma;
    line-height: 30px;
    text-align: center;
    padding: 70px 10px;
    text-transform: uppercase;
}

.off-text {
    padding: 20px;
    font: 14px Tahoma;
    color: #000000;
    background-color: #fff;
    line-height: 18px;
    border: 1px solid #d7d7d7;
    margin: 40px;
}

@media screen and (max-width: 750px) {
    .off-wrapper {
        border-radius: 0;
        margin-top: 0;
    }

    .off-head h1, .off-head h2 {
        width: 100%;
        float: none;
        font-size: 18px;
        line-height: 50px;
        padding: 0;
        height: auto;
    }

    .off-text {
        margin: 20px;
    }
}