/* Datalife Engine template by: redissx (ICQ: 275116000, E-mail: redissx@gmail.com, Website: webrambo.ru )  */

/* SET BASE
----------------------------------------------- */
* {
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    vertical-align: middle;
}

article, aside, figure, figure img, hgroup, footer, header, nav, section, main {
    display: block;
}

body {
    font: 14px/20px Roboto, Arial, Helvetica, sans-serif;
    line-height: normal;
    padding: 0;
    margin: 0;
    color: #2a2a2a;
    background-color: #e5e6e8;
    height: 100%;
    width: 100%;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.clr {
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #2a2a2a;
    text-decoration: none;
}

a:hover, a:focus {
    color: #f0542e;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-size: 18px;
}

.log-register {
    height: 60px;
    color: #ccc;
    font-weight:normal
}

.form-wrap {
    margin: 0;
    background-color: #fff;
}

.sub-title h1 {
    margin-bottom: 15px;
    font-size: 24px;
}

.pm-page, .search-page, .static-page, .tags-page {
}

/*--- SET ---*/
.button, .up-second li a, .up-edit a, .qq-upload-button, button:not(.color-btn), html input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 0 20px;
    color: #fff;
    display: inline-block;
    background-color: #292c33;
    font-weight: 700;
    text-transform: uppercase;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button[disabled], input[disabled] {
    cursor: default;
}

.button:hover, .up-second li a:hover, .up-edit a:hover, .qq-upload-button:hover,
button:not(.color-btn):hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #7e8594;
    color: #fff;
}

button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

input[type="submit"].bbcodes, input[type="button"].bbcodes, input.bbcodes, .ui-button {
    font-size: 12px !important;
    height: 30px !important;
    line-height: 30px !important;
    padding: 0px 10px;
    border-radius: 3px;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #000000;
    background-color: #f2f2f2;
    border-radius: 3px;
    -webkit-appearance: none;
    box-shadow: none !important;
}

input[type="text"]:focus {
    box-shadow: none !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

select {
    height: 40px;
    border: 1px solid #e3e3e3;
    background-color: #FFF;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #e3e3e3;
    background-color: #FFF;
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

.img-box {
    overflow: hidden;
    position: relative;
    background-color: #CCC;
}

.img-box img {
    width: 100%;
    min-height: 100%;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button, .carou-item, .lcomm img {
    transition: all .3s;
}

a, .movie-img img, .carou-title {
    transition: color .3s, background-color .3s, opacity .3s;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-left span.fa {
    margin-right: 10px;
}

.icon-right span.fa {
    margin-left: 10px;
}

.pseudo-link {
    cursor: pointer;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* BASIC GRID
----------------------------------------------- */
.wrap {
    height: auto;
    width: 100%;
    min-width: 320px;
    position: relative;
}

.center {
    width: 100%;
    min-width: 320px;
    max-width: 1264px;
    margin: 0 auto;
    position: relative;
}

.head-wr, .foot-wr {
    background-color: #292c33;
    position: relative;
}

.head-wr:before {
    content: "";
    background-color: #7e8594;
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.head-one {
    height: 60px;
    color: #ccc;
    padding: 0 10px 0 260px;
}

.head-two {
    height: 60px;
    position: relative;
    padding: 0 10px;
}

.carou-wr {
    background-color: #f0542e;
    padding: 20px 0;
    margin-bottom: 40px;
    background: radial-gradient(ellipse at center, #f7884b 0%, #f0542e 100%);
}

.cols-r {
    padding: 0 280px 20px 20px;
    background-color: #FFF;
    margin-bottom: 40px;
}

.cols-r:before {
    content: "";
    width: 280px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f4f6fa;
    border-left: 1px solid #e3e3e3;
}

.cols-r .sidebar {
    float: right;
    width: 280px;
    margin-right: -280px;
    padding: 0;
    position: relative;
    z-index: 100;
}

.cols-r .content {
    float: left;
    width: 100%;
    min-height: 600px;
    padding: 20px 20px 0 0;
}

.foot {
    padding: 20px 10px;
}

/* HEADER, MENU
----------------------------------------------- */
.logotype {
    height: 60px;
    width: 230px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/logo.png) left center no-repeat;
    overflow: hidden;
    text-indent: -1000px;
    background-size: contain;
}

.head-menu {
    float: left;
}

.head-menu li {
    float: left;
}

.head-menu a {
    display: block;
    padding: 0 20px;
    line-height: 60px;
    color: #ccc;
    font-weight: 700;
    font-size: 16px;
}

.head-one ul a:hover {
    box-shadow: inset 0 -5px #f0542e;
    color: #fff;
}

.action-btns {
    float: right;
    line-height: 60px;
}

.log-btn, .search-btn {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.log-btn .fa {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px !important;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: inset 0 0 0 2px #ccc;
}

.search-btn .fa {
    font-size: 18px;
}

.log-btn:hover, .search-btn:hover, .head-wr .active {
    color: #FFF;
}

/* SEARCH
----------------------------------------------- */
.search-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 8888;
    padding: 10px 0;
    height: 60px;
    display: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #7e8594;
}

.search-box {
    width: 100%;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.search-box input, .search-box input:focus {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 60px 0 10px;
    border-radius: 3px;
    background-color: #fff;
    color: #5c5c5c;
    border: 0;
    box-shadow: inset 0 0 0 1px #e3e3e3;
}

.search-box button {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 3px;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}

/* MAIN MENU
----------------------------------------------- */
.main-menu {
    position: relative;
}

.main-menu > li {
    display: inline-block;
    float: left;
}

.main-menu > li > a {
    display: block;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-menu > li > a:hover, .menuactive > a {
    color: #fff;
    box-shadow: inset 0 5px #f0542e;
}

.main-menu > li > a .fa {
    font-size: 18px;
}

.hidden-menu {
    background-color: #fff;
    padding: 20px 10px;
    text-align: left;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 9999;
    display: none;
}

.hidden-menu li {
    display: inline-block;
    float: left;
    width: 20%;
}

.hidden-menu li a {
    color: #000;
    display: block;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
}

.hidden-menu li a:hover {
    background-color: #f6f7f8;
    color: #000;
}

.menuactive > a, li.menuactive > a:hover {
    color: #000 !important;
    background-color: #FFF;
}

.alpha-sort {
    padding: 20px 18px 15px 18px;
    left: 0;
    right: 0;
}

.alpha-sort a {
    display: inline-block;
    margin: 0 0 5px 0;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    color: #5c5c5c;
}

.alpha-sort a:hover {
    background-color: #f6f7f8;
    color: #000;
    border: 1px solid #e3e3e3;
}

li.sort-li {
    float: right;
}

.sort-li .fa {
    margin-right: 0;
}

/* CAROUSEL SLIDER
----------------------------------------------- */
.carou {
    overflow: hidden;
    height: 270px;
    padding: 20px;
}

.carou-item {
    display: block;
    height: 210px;
    max-width: 165px;
    margin: 0 5px;
}

.carou-item:hover {
    box-shadow: 0 0 0 10px #fff;
}

.carou-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    font-weight: 700;
}

.carou-item {
    margin: 0 5px 40px 5px;
    float: left;
    width: 164px;
}

.carou .owl-item .carou-item {
    margin: 0;
    float: none;
    width: auto;
}

.carou .owl-item {
    padding: 10px;
}

/* HEADER OF SHORTS
----------------------------------------------- */
.section-title {
    line-height: 40px;
    margin-bottom: 20px;
}

.section-title .title {
    float: left;
    margin-bottom: 0;
}

.section {
    padding: 20px;
    background-color: #FFF;
}

.grid-select {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.grid-select > div {
    height: 40px;
    width: 40px;
    text-align: center;
    float: left;
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.grid-select > div:hover, .grid-select > div.current {
    color: #fff;
    background-color: #7e8594;
}

.sorter {
    display: inline-block;
    float: right;
    position: relative;
    padding: 0 20px;
    line-height: 40px;
    box-shadow: inset 0 0 0 3px #d2d5da;
}

.sorter:before {
    content: attr(data-label);
    float: left;
    padding: 0 10px 0 0;
    cursor: pointer;
}

.sorter > .fa {
    font-size: 10px;
}

.sorter form {
    display: none;
    background-color: #fff;
    padding: 10px 15px;
    line-height: 24px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 170px;
    z-index: 999;
}

.sorter a:hover {
    text-decoration: underline;
}

.sorter a {
    color: #2a2a2a;
    display: block;
    margin-bottom: 10px;
}

.sort li.asc a:after, .sort li.desc a:after {
    content: "\f063";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-left: 10px;
}

.sort li.desc a:after {
    content: "\f062"
}

.speedbar {
    font-size: 12px;
    color: #8f95a3;
    margin-bottom: 20px;
}

.speedbar a {
    color: #f0542e;
}

/* SHORT STORY
----------------------------------------------- */
.movie-item {
    margin-bottom: 20px;
}

.movie-cols {
    padding-left: 220px;
}

.movie-img {
    width: 220px;
    margin-left: -220px;
    float: left;
    height: 335px;
}

.movie-img:hover img {
    opacity: 0.7;
}

.movie-text {
    float: right;
    width: 100%;
    padding-left: 20px;
    max-height: 335px;
    overflow: hidden;
}

.movie-title {
    padding: 0 140px 20px 0;
    position: relative;
}

.movie-title a, .movie-title h1 {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 7px;
}

.movie-original {
    font-weight: 400;
    color: #8f95a3;
}

.movie-meta {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.meta-date {
    background-color: #d2d5da;
    color: #fff;
    padding: 5px 10px;
}

.meta-qual {
    border: 3px solid #d2d5da;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.poster-label {
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #75c71b;
    color: #FFF;
}

.movie-lines {
    margin-bottom: 10px;
    border-bottom: 1px dashed #e3e3e3;
}

.movie-lines li {
    padding: 0 0 10px 130px;
}

.movie-lines li:after {
    content: "";
    display: table;
    clear: both;
}

.ml-label {
    margin-left: -130px;
    max-width: 110px;
    float: left;
    display: inline-block;
    color: #8f95a3;
}

.ml-desc {
    width: 100%;
    float: right;
    font-weight: 700
}

.movie-lines a {
    color: #f0542e;
}

.movie-desc {
}

.movie-bottom {
    height: 40px;
    line-height: 40px;
    position: relative;
}

.movie-bottom > div {
    height: 100%;
    font-size: 18px;
}

.mb-online {
    background-color: #f0542e;
    color: #fff;
    width: 220px;
    float: left;
    text-align: center;
}

.mb-meta {
    float: left;
    margin-left: 20px;
}

.movie-tools {
    float: right;
}

.movie-tools > span {
    margin-left: 10px;
}

.mb-meta, .mb-meta a, .movie-tools a {
    color: #8f95a3;
}

.mb-meta a:hover, .movie-tools a:hover {
    color: #f0542e;
}

.grid-thumb {
    margin: 0 -10px;
}

.grid-thumb .movie-item {
    width: 23%;
    margin: 0 1% 40px 1%;
    float: left;
    position: relative;
    padding-bottom: 60px;
}

.grid-thumb .movie-cols {
    padding-left: 0;
}

.grid-thumb .movie-img {
    width: 100%;
    height: 335px;
    float: none;
    margin-left: 0;
}

.grid-thumb .movie-text {
    float: none;
    padding-left: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.grid-thumb .movie-title {
    padding: 0;
    text-align: center;
}

.grid-thumb .movie-title a, .grid-thumb .movie-original {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-thumb .movie-lines, .grid-thumb .movie-bottom, .grid-thumb .movie-desc, .grid-thumb .movie-meta {
    display: none;
}

/* SIDEBAR AND CAROUSEL BOTTOM
----------------------------------------------- */
.sidebox {
    padding: 20px;
}

.sidebox-t {
    text-align: center;
}

.more-link {
    display: block;
    color: #f0542e;
    text-align: center;
    margin-top: 20px;
}

.more-link span {
    border-bottom: 1px dotted #f0542e;
}

.carouside {
    max-height: 500px;
    overflow: hidden;
}

.carouside-item {
    display: block;
}

.carouside-img {
    height: 300px;
    margin-bottom: 20px;
}

.carouside-title {
    text-align: center;
}

.carouside-title p {
    font-weight: 700;
    font-size: 16px;
}

.carouside-title span {
    color: #8f95a3;
    margin-top: 10px;
    display: inline-block;
}

.carouside .owl-item {
    padding: 0 10px;
}

.caroubottom .carouside-item {
    width: 225px;
    float: left;
    margin: 0 10px;
}

.caroubottom .owl-item .carouside-item {
    width: 100%;
    float: none;
    margin: 0;
}

.caroubottom .owl-item {
    padding: 0 10px;
}

.topsbox {
    padding: 20px 0;
}

.tops {
    padding-top: 310px;
    counter-reset: li;
    list-style: none;
}

.tops li {
    position: relative;
    padding: 7px 30px 7px 50px;
    min-height: 50px;
}

.tops li:before {
    content: counter(li);
    counter-increment: li;
    font-size: 18px;
    color: #8f95a3;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -10px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: left;
}

.top-item .carouside-title {
    text-align: left;
}

.top-item .carouside-title span {
    margin-top: 3px;
}

.top-item {
    display: block;
}

.top-img {
    width: 240px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: -310px;
    margin-left: -120px;
}

.tops li:hover {
    background-color: #FFF;
    box-shadow: inset 3px 0 #75c71b;
}

.lcomms {
    background-color: #FFF;
    border-left: 3px solid #75c71b;
}

.lcomm {
    display: block;
    position: relative;
    margin-bottom: 10px;
    min-height: 40px;
    padding: 0 0 0 50px;
}

.lc-body {
    background-color: #f6f6f6;
    padding: 10px;
    border: 1px solid #f0f0f0;
}

.lc-text {
    color: #888;
    margin-bottom: 5px;
}

.lc-author {
    font-weight: 500;
}

.lcomm img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.lcomm:nth-child(2n) {
    padding: 0 50px 0 0;
}

.lcomm:nth-child(2n) img {
    left: auto;
    right: 0;
}

.lcomm:hover img {
    transform: scale(0.8, 0.8);
}

.skoro-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 80px;
    min-height: 90px;
}

.skoro-img {
    width: 70px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
}

.skoro-text {
    color: #8f95a3;
    font-size: 12px;
}

.skoro-text a {
    display: block;
    font-weight: 700;
    margin-bottom: 7px;
    font-size: 14px;
}

.skoro-text a:hover {
    text-decoration: underline;
}

.skoro-img:hover {
    opacity: 0.7;
}

/* FOOTER
----------------------------------------------- */
.foot-menu {
    padding-right: 120px;
}

.foot-menu li {
    display: inline-block;
    margin: 0 20px 20px 0;
}

.foot-menu a {
    display: block;
    color: #fff;
}

.foot-text, .foot-text a {
    color: #ccc;
}

.foot-text a, .foot a:hover {
    text-decoration: underline;
}

.count {
    display: inline-block;
    width: 88px;
    height: 31px;
    background-color: #444;
    position: absolute;
    right: 10px;
    top: 20px;
}

/* FULL STORY
----------------------------------------------- */
.slice {
    overflow: hidden;
    position: relative;
    transition: height .2s;
}

.slice-masked {
    margin-bottom: 0 !important;
}

.slice-masked:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 120px;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.slice-btn {
    margin: 0 0 20px 0;
    font-size: 12px;
    font-weight: 700;
}

.slice-btn span {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #f0542e;
}

.scrolla {
    cursor: pointer;
    line-height: 40px;
    float: none;
    margin-bottom: 20px;
}

.movie-full .movie-text {
    max-height: none;
    overflow: auto;
}

.movie-full .movie-img {
    height: auto;
}

.movie-full .movie-img:hover img {
    opacity: 1;
}

.movie-full .movie-desc {
    margin-top: 10px;
}

.movie-poster {
    position: relative;
}

.movie-poster img {
    display: block;
    width: 100%;
}

.movie-full .mb-meta {
    margin: 0 20px 0 0;
}

.screens-t {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
}

.screens-c {
    margin: 0 0 20px 0;
}

.screens-c br {
    display: none;
}

.screens-c .owl-item a, .screens-c .owl-item img {
    display: block;
    width: 220px;
}

.rates {
    background-color: #f4f4f6;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.rates > div {
    display: inline-block;
    vertical-align: middle;
}

.db-rates > div {
    display: inline-block;
    margin-right: 10px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 10px;
}

.db-rates > div:before {
    content: attr(data-label);
    display: inline-block;
    margin-right: 10px;
}

.r-kp {
    background-color: #f60;
    color: #fff
}

.r-imdb {
    background-color: #fc0;
    color: #000000;
}

.rate3 {
    height: 40px;
}

.rate3 span[id*="vote-num"], .rate3 span[id*="ratig-layer"] {
    display: none;
}

.ps, .ms {
    cursor: pointer;
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    color: #69a935;
    text-align: center;
}

.ms {
    color: #E70C2F;
}

.rate3 span.fa {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.ps:hover {
    color: #FFF;
    background-color: #028c19;
}

.ms:hover {
    background-color: #c1050a;
    color: #fff;
}

.rrange {
    width: 220px;
    color: #8f95a3;
    font-weight: 700;
}

.rbar {
    height: 10px;
    overflow: hidden;
    position: relative;
    background-color: #E70C2F;
    margin-top: 5px;
    border-radius: 4px;
}

.rfill {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #69a935;
    transition: width 1s linear;
}

.rrange span {
    margin-left: 10px;
    font-size: 20px;
    color: #69a935;
}

.tabs-box {
    margin-top: 20px;
    position: relative;
}

.tabs-sel {
    margin-bottom: 20px;
}

.tabs-sel span, .mov-compl a {
    display: inline-block;
    cursor: pointer;
    background-color: #7e8594;
    color: #FFF;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 10px;
}

.tabs-sel span.current, .mov-compl a:hover {
    font-weight: 700;
    background-color: #292c33;
}

.tabs-b {
    background-color: #000;
}

.js .tabs-b {
    display: none;
}

.js .tabs-b.visible {
    display: block;
}

.mov-compl {
    position: absolute;
    right: -5px;
    top: 0;
}

.rels {
    margin: 0 -10px;
}

.rel-t {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    padding-left: 10px;
}

.rel-c .owl-item .carou-item {
    margin: 0;
    float: none;
    width: auto;
}

.rel-c .carou-item:hover .carou-title {
    background-color: #f0542e;
}

/* FULL STORY STATIC
----------------------------------------------- */
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {
    width: 100%;
    max-width: 100% !important;
    height: 400px;
}

.mejs-container {
    max-width: 100% !important;
}

.full-text {
    font: 14px/22px Arial, sans-serif;
    margin-bottom: 20px;
}

.full-text img:not(.emoji) {
    max-width: 100%;
    border: 5px solid #e3e3e3;
}

.full-text > img[style*="left"], .full-text > .highslide img[style*="left"] {
    margin: 0 10px 10px 0;
}

.full-text > img[style*="right"], .full-text > .highslide img[style*="right"] {
    margin: 0 0 10px 10px;
}

.full-text a {
    text-decoration: underline;
    color: #06c;
}

.full-text a:hover {
    text-decoration: none;
}

.full-text h2, .full-text h3, .full-text h4, .full-text h5 {
    margin: 20px 0;
    font-size: 18px;
}

.full-text p {
    margin-bottom: 15px;
}

.full-text ul, .full-text ol {
    margin: 0;
}

.full-text ul li {
    list-style: disc;
    margin-left: 40px;
}

.full-text ol li {
    list-style: decimal;
    margin-left: 40px;
}

.full-text table {
    width: 100%;
    text-align: left;
}

.full-text table tr td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.full-text table tr:nth-child(2n+1) {
    background-color: #f6f6f6;
}

.full-text table img {
    display: block;
    margin: 0;
    border: 0;
    max-width: 350px
}

.attach {
    line-height: 40px;
    background-color: #f5f5f5;
    padding: 0 15px 0 0;
    border-radius: 4px;
    margin: 10px 0;
    overflow: hidden;
}

.attach .download-link {
    color: #FFF !important;
    text-decoration: none !important;
    margin-right: 15px;
    float: left;
    display: inline-block;
    padding: 0 15px;
    background: #0297dc;
}

.attach-info {
    float: right;
}

.attach i {
    margin-right: 5px;
}

.dcont {
    border: 1px solid #e3e3e3;
    padding: 0 15px 15px 15px;
    margin: 20px 0;
    line-height: 20px;
    background-color: #FFF;
}

.polltitle {
    display: block;
    padding: 5px 15px;
    margin: 0 -15px 15px -15px;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: normal;
}

.full-taglist {
    margin: 20px 0;
    font-size: 12px;
}

.full-taglist-t {
    margin-bottom: 5px;
    font-weight: 700;
}

.full-taglist a {
    margin: 0 0 3px 0;
    color: #06c
}

.full-taglist span {
    margin-right: 5px;
}

/* COMMENTS
----------------------------------------------- */
.full-comms {
    margin: 0 -20px;
    padding: 20px;
    border-top: 1px solid #e3e3e3;
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.comms-head {
    margin-bottom: 20px;
}

.comms-title {
    font-size: 20px;
    font-weight: 700;
    float: left;
    line-height: 38px;
}

.comms-title sup {
    color: #f0542e;
}

.add-commbtn {
    float: right;
}

.comms-head + form #add-comm-form {
    display: none;
    margin: 20px 0;
}

.add-comm-form {
    margin: 0 0 20px 0;
    background-color: #f4f6fa;
    padding: 20px 20px 10px 140px;
    position: relative;
    border: 1px solid #e3e3e3;
}

.ac-av {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 30px;
    background: #CCC url('/user-backend/webroot/dleimages/noavatar.png') no-repeat;
    background-size: contain;
}

.ac-title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}

.ac-inputs input {
    width: 49%;
    float: left;
}

.ac-inputs input:last-child {
    float: right;
}

.ac-inputs, .ac-textarea {
    margin-bottom: 15px;
}

.ac-textarea textarea {
    height: 85px;
}

.ac-submit {
    position: absolute;
    top: 120px;
    left: 0;
    width: 140px;
    text-align: center;
}

.sec-answer + .sec-label {
    margin-top: 10px;
}

.add-com-but + form #addcform {
    display: none;
    margin: 20px 0;
}

.ac-protect {
    margin-top: -10px;
}

.ac-protect .label {
    font-size: 12px;
}

.ac-protect .sep-input {
    padding: 10px 10px 10px 160px;
}

.add-comm-form .login-social {
    position: absolute;
    right: 17px;
    top: 10px;
}

.ac-inputs input, .ac-protect input {
    background-color: #fff;
}

.mass_comments_action {
    text-align: right;
    padding: 5px 15px;
    background-color: #f0f0f0;
    margin: 20px 0;
}

.last-comm-link {
    font-size: 16px;
    margin-bottom: 10px;
}

.last-comm-link a {
    text-decoration: underline;
    color: #06c;
}

.comments-items {
    margin: 20px 0;
}

.comm-item {
    margin-bottom: 20px;
    padding-left: 90px;
    position: relative;
    min-height: 80px;
}

.comm-one {
    position: relative;
    height: 40px;
}

.comm-one > div {
    height: 100%;
    float: left;
    margin-right: 20px;
    line-height: 20px;
}

.comm-item:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: -2px;
    top: 70px;
    background-color: #ccc;
    border-radius: 50%;
}

.status-online:before {
    background-color: #3C0;
}

.comm-av {
    width: 80px;
    border-radius: 50%;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.comm-author, .comm-author a {
    color: #444;
    text-transform: uppercase;
    font-weight: 700;
}

.comm-author a:hover {
    text-decoration: underline;
}

.comm-date, .comm-num {
    font-size: 12px;
    color: #888;
}

.comm-one > div.comm-ratebox {
    float: right;
    margin-right: 0;
}

.comm-two {
    background-color: #f4f6fa;
    padding: 10px;
    border: 1px solid #e3e3e3;
    margin: 10px 0;
}

.signature {
    font: italic 11px Georgia, "Times New Roman", Times, serif;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #e3e3e3;
}

.comm-three ul {
    text-align: right;
    text-transform: uppercase;
}

.comm-three ul li {
    margin-left: 5px;
    display: inline-block;
}

.comm-three li:first-child, .comm-three li.comm-q {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

.comm-three ul li a {
    font-size: 10px;
    color: #292929;
}

.comm-three ul li span.fa {
    margin-right: 10px;
    color: #888;
}

.comm-three a:hover {
    text-decoration: underline;
}

.comments-tree-list .comments-tree-list {
}

.comm-rate {
    background-color: #f5f5f5;
    background: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    height: 24px;
    line-height: 24px;
    position: relative;
    padding: 0 30px;
    text-align: center;
}

.comm-rate a {
    display: block;
    color: #fff;
    background-color: #7db625;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0px;
    line-height: 24px;
    font-size: 12px;
}

.comm-rate a:nth-child(2) {
    background-color: #cd3560;
    left: auto;
    right: 0;
}

.comm-rate a:hover {
    opacity: 0.7;
}

.comm-rate > span > span.ratingzero {
    color: #444444;
}

.comm-rate > span > span.ratingtypeplus {
    color: #06b601;
}

.comm-rate > span > span.ratingplus {
    color: #95c613;
}

.comm-rate > span > span.ratingminus {
    color: #ff0e0e;
}

/* LOGIN
----------------------------------------------- */
.login-box {
    padding: 20px;
    background-color: #fff;
    display: none;
}

.login-input {
    margin-bottom: 20px;
}

.login-button button {
    display: block;
    text-align: center;
    width: 100%;
}

.login-button button:hover {
}

.login-checkbox {
    font-size: 12px;
    margin: 10px 0;
    color: #888;
}

.login-checkbox input {
    display: none;
}

.login-checkbox input + label:before {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    top: 2px;
    border-radius: 3px;
    border: 1px solid #ccc;
    content: "";
    background-color: #f6f6f6;
    display: inline-block;
}

.login-checkbox input:checked + label:before {
    background-color: #c9282d;
}

.login-links {
    text-align: center;
    line-height: 30px;
}

.login-links a {
    float: left;
    text-decoration: underline;
}

.login-links a:last-child {
    float: right;
}

.login-links a:hover {
    text-decoration: none;
}

.login-social {
    text-align: center;
}

.login-social:before {
    content: attr(data-label);
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin-right: 10px;
}

.login-social a {
    display: inline-block;
    margin: 0 3px 10px 3px;
}

.login-social img {
    display: block;
    width: 30px;
}

.login-social a:hover img {
    transform: scale(1.1);
}

.login-avatar {
    text-align: center;
}

.avatar-box {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 0;
    overflow: hidden;
}

.avatar-box img {
    width: 100%;
    min-height: 100%;
}

.avatar-box + a {
    display: block;
    margin-top: 5px;
    text-decoration: underline;
}

.login-menu {
    margin-top: 20px;
}

.login-menu a {
    display: block;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    background-color: #f6f6f6;
    margin-bottom: 5px;
    border-radius: 3px;
}

.login-menu a:hover {
    color: #fff;
    background-color: #f0542e;
}

/* GO TOP BUTTON */
#gotop {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 9998;
    display: none;
    opacity: 0.8;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
}

/* SLIDER
----------------------------------------------- */

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* display none until init */
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-theme .owl-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    height: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */
.carou .owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    opacity: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 95px !important;
    line-height: 40px;
    color: #fff;
    font-size: 30px;
}

.carou .owl-prev {
    left: -30px;
}

.carou .owl-next {
    right: -30px;
}

.carouside .owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    opacity: 1;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 215px !important;
    line-height: 20px;
    color: #000;
    font-size: 30px;
}

.carouside .owl-prev {
    left: -15px;
}

.carouside .owl-next {
    right: -15px;
}

.caroubottom .owl-theme .owl-controls {
    top: 0;
    bottom: auto;
}

.caroubottom .owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    opacity: 1;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -50px !important;
    line-height: 30px;
    background-color: #f0f0f0;
    color: #8f95a3;
    font-size: 14px;
    border-radius: 4px;
}

.caroubottom .owl-prev {
    right: 40px;
}

.caroubottom .owl-next {
    right: 0px;
}

.rel-c .owl-controls {
    top: 4px !important;
    right: 10px;
}

.slide .owl-theme .owl-controls {
    top: 0;
    bottom: auto;
}

.slide .owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    opacity: 1;
    position: absolute;
    top: 200px !important;
    color: #fff;
    font-size: 40px;
}

.slide .owl-prev {
    left: 40px;
}

.slide .owl-next {
    right: 40px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.carou .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
    color: #000;
}

.carouside .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
    color: #f0542e;
}

.caroubottom .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
    color: #fff;
    background-color: #f0542e;
}

.slide .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
    color: #f0542e;
}

/* Styling Pagination*/
.owl-theme .owl-pagination {
    text-align: center;
    position: relative;
    display: inline-block;
    bottom: -15px;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 3px 5px;
    border-radius: 5px;
    background-color: #8f95a3;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #f0542e;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    border-radius: 30px;
}

/* preloading img */
.owl-item.loading {
    min-height: 140px;
    background: url(../img/loader.gif) no-repeat center center;
}

/* ADAPTIVE
----------------------------------------------- */
.show-menu {
    display: none;
}

@media screen and (max-width: 1220px) {
    .center {
        max-width: 1000px;
    }

    .head-menu, .main-menu {
        display: none;
    }

    .head-two {
        height: 0;
    }

    .show-menu {
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
        float: left;
        cursor: pointer;
        color: #FFF;
    }

    .log-btn, .search-btn {
        color: #FFF;
    }

    .main-menu {
        position: absolute;
        text-align: left;
        top: 0;
        left: 0;
        background-color: #7e8594;
        width: 100%;
        padding: 10px 0;
        z-index: 9999;
    }

    .main-menu > li {
        display: block;
        float: none;
        position: relative;
    }

    .main-menu > li > a {
        padding: 0 20px;
        line-height: 30px;
        box-shadow: none !important;
    }

    .hidden-menu {
        padding: 10px 0;
        right: 0;
    }

    .hidden-menu li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .alpha-sort {
        padding: 10px 6px 5px 8px;
        left: 0;
        right: 0;
    }

    .alpha-sort a {
        margin: 0 2px 5px 2px;
    }

    .cols-r {
        padding: 0;
        margin-bottom: 0;
    }

    .cols-r:before {
        display: none
    }

    .cols-r .sidebar {
        float: none;
        width: 100%;
        margin-right: 0;
        padding: 0;
        background-color: #f4f6fa;
        border-top: 1px solid #e3e3e3;
    }

    .cols-r .content {
        float: none;
        padding: 20px 10px;
    }

    .filter-box {
        display: none;
    }

    .carouside .sidebox-c {
        width: 240px;
        margin: 0 auto;
    }

    .sidebox {
        width: 50%;
        float: left;
        padding: 10px 10px;
    }

    .carou-wr, .filter-wrap {
        margin-bottom: 0 !important;
    }

    .search-wrap {
        padding: 10px;
    }

    .full-comms {
        margin: 0 -10px;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 950px) {
    .center {
        max-width: 768px;
    }

    .grid-thumb .movie-item {
        width: 31.33%;
        margin: 0 1% 20px 1%;
    }

    .pagi-nav {
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .rate3 {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    .center {
        max-width: 640px;
    }

    .head-one {
        padding: 0 10px 0 140px;
    }

    .logotype {
        height: 60px;
        width: 140px;
    }

    .hidden-menu li {
        width: 50%;
    }

    .sorter {
        display: none;
    }

    .title {
        font-size: 16px;
    }

    .grid-select {
        margin-right: 0;
    }

    .movie-item:not(.movie-full) .movie-desc {
        display: none;
    }

    .count {
        position: static;
        margin-top: 20px;
    }

    .foot-menu {
        padding-right: 0;
    }

    .movie-title a, .movie-title h1 {
        font-size: 16px;
    }

    .grid-thumb .movie-img {
        height: 260px;
    }

    .rates {
        display: block;
        text-align: center;
        padding-bottom: 0;
    }

    .rates > div {
        margin: 0 0 10px 0;
    }

    .tabs-sel {
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .mov-compl {
        display: none;
    }

    .add-comm-form {
        padding: 20px 10px;
        overflow: hidden;
    }

    .ac-av {
        display: none;
    }

    .ac-submit {
        position: static;
        width: 100%;
    }

    .ac-submit button {
        width: 100%;
    }

    .comments-tree-list .comments-tree-list {
        padding-left: 0 !important;
    }

    .mass_comments_action {
        display: none;
    }

    .sub-title h1 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: 590px) {
    .center22 {
        max-width: 480px;
    }

    .movie-cols {
        padding-left: 0;
    }

    .movie-img {
        margin: 0 auto 20px auto;
        float: none;
    }

    .movie-item:not(.movie-full) .mb-online {
        display: none;
    }

    .movie-text {
        float: none;
        padding-left: 0;
        max-height: none;
    }

    .carou {
        height: 190px;
        padding: 0 20px;
    }

    .carou-item {
        height: 170px;
    }

    .carou .owl-theme .owl-controls .owl-buttons div {
        bottom: 75px !important;
    }

    .sidebox {
        width: 100%;
        float: none;
        padding: 20px 10px;
    }

    .section {
        padding: 20px 10px;
    }

    .grid-thumb .movie-item {
        width: 31.33%;
        margin: 0 1% 20px 1%;
        padding-bottom: 40px;
    }

    .grid-thumb .movie-img {
        height: 200px;
    }

    .movie-full .movie-img {
        margin: 0 auto 30px auto;
    }

    .comm-item {
        margin-bottom: 10px;
        padding-left: 50px;
        min-height: 50px;
    }

    .comm-item:before {
        left: -2px;
        top: 40px;
    }

    .comm-av {
        width: 40px;
        height: 40px;
    }

    .comm-one > div {
        margin-right: 10px;
    }

    .comm-three ul li {
        display: none;
    }

    .comm-three li.comm-q {
        display: inline-block;
    }

    .comm-one > div:nth-child(1) {
        max-width: 140px;
        overflow: hidden;
    }

    .comm-one > div:nth-child(2) {
        display: none;
    }

    .add-comm-form .login-social {
        position: static;
        text-align: left;
    }

    .ac-inputs input {
        width: 100%;
        float: none !important;
        margin-top: 10px;
    }

    .ac-protect {
        width: 100%;
        float: none;
        margin: -10px 0 0 0;
    }

    .ac-submit button {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }

    .ui-dialog {
        width: 100% !important;
    }

    .upop-left, .upop-right {
        float: none !important;
        width: 100% !important;
        margin: 0;
        padding: 0 20px;
    }

    .upop-left {
        margin-bottom: 10px;
        text-align: center;
    }

    .ui-dialog-buttonset button {
        display: block;
        margin: 0 0 5px 0;
        width: 100%;
    }

    #dofullsearch, #searchsuggestions span.seperator {
        display: none !important;
    }

    .attach .download-link {
        margin: 0 -15px 0 0;
        float: none;
        display: block;
        padding: 0 10px;
    }

    .attach-info {
        float: none;
    }
}

@media screen and (max-width: 470px) {
    .center22 {
        max-width: 320px;
    }

    .log-btn span:not(.fa) {
        display: none;
    }

    .log-btn.icon-left .fa {
        margin-right: 0;
    }

    .section.caroubottom .owl-item {
        padding: 0 40px;
    }

    .grid-thumb .movie-item {
        width: 48%;
        margin: 0 1% 20px 1%;
        padding-bottom: 40px;
    }

    .video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {
        height: 300px;
    }

    .comms-head {
        text-align: center;
    }

    .comms-title {
        float: none;
    }

    .add-commbtn {
        float: none;
    }

    .login-social:before {
        display: block;
        line-height: 30px;
        margin-right: 0;
    }
}

.movie-img:hover img {
    opacity: 0.7;
}

.status {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 120px;
    height: 20px;
    float: right;
    color: #d2d5da;
    cursor: default;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
}

.status.status-2 {
    color: #ff293d;
}

.status .ico {
    float: right;
    position: relative;
    margin-right: 20px;
    display: inline-block;
}

.status .ico:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    top: 4px;
    content: "";
    width: 12px;
    right: -20px;
    height: 12px;
    position: absolute;
    background: #d2d5da;
}

.status.status-2 .ico:after {
    background: #ff293d;
}
