﻿[allow-download]
<div class="attach clearfix ignore-select">
    <a href="{link}" class="download-link"><i class="fa fa-download"></i> {name}</a>
    [count]<span class="attach-info"> [{size}] (cкачиваний: {count})</span>[/count]
</div>
[/allow-download]
[not-allow-download]
<div class="attach">У вас нет доступа к скачиванию файлов с нашего сервера</div>[/not-allow-download]