<div class="skoro-item">
    <div class="skoro-text">
        [full-link]{title limit="40"}[/full-link]
        {short-story limit="80"}
    </div>
    <div class="skoro-img img-box pseudo-link" data-link="{full-link}">
        <img src="[xfvalue_image]" alt="{title}"/>
    </div>
</div>