<a class="lcomm" href="{news-link}">
    <div class="lc-body">
        <div class="lc-author">{login}</div>
        <div class="lc-text">{comment limit="100"}</div>
    </div>
    <img src="{foto}" alt="{login}"/>
</a>