﻿			<div class="filter-wrap" id="filter-wrap">
				<div class="filter-header icon-left"><span class=""></span>Группа Вконтакте</div>
				<div class="filter-box">
					
					
					
					
				
					
					</div>
					
					
					
					
				</div>
		