﻿<div class="clr"></div>
<div class="pagi-nav clearfix ignore-select">
    [not-page-count=1]<span class="pprev">[prev-link]<span class="fa fa-angle-double-left"></span>[/prev-link]</span>[/not-page-count]
    <span class="navigation">{pages}</span> [not-page-count=1]<span style="display:none;">Ћучший сайт где можно <a
                href="http://allfilm.net/">смотреть фильмы онлайн</a> бесплатно и регистрации</span>[/not-page-count]
    <span class="pnext">[next-link]<span class="fa fa-angle-double-right"></span>[/next-link]</span>
</div>