﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Сайт временно отключен</title>
    <link rel="shortcut icon" href="../img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{THEME}/style/offline.css"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div class="off-wrapper">

    <div class="off-head clearfix">
        <h1>Технические работы</h1>
        <h2>Сайт оффлайн</h2>
    </div>

    <div class="off-text">
        {reason}
    </div>

</div>

</body>
</html>