﻿[short-preview]
<div class="prev shortstory">
    <div class="prev-text">
        <h1 class="prev-title">{title}</h1>
        <div class="full-text clearfix">
            {short-story}
        </div>
    </div>
</div>
[/short-preview]
[full-preview]
<div class="prev fullstory">
    <div class="prev-text">
        <h1 class="prev-title">{title}</h1>
        <div class="full-text clearfix">
            {full-story}
        </div>
    </div>
</div>
[/full-preview]
[static-preview]
<div class="prev static">
    <div class="prev-text">
        <h1 class="prev-title">{description}</h1>
        <div class="full-text clearfix">
            {static}
        </div>
    </div>
</div>
[/static-preview]