﻿<div class="user-popup clearfix">
    <div class="upop-left">
        <div class="up-img img-box"><img src="{foto}" alt=""/></div>
        [online]<p class="online">В сети</p>[/online][offline]<p class="offline">Не в сети</p>[/offline]
    </div>
    <ul class="upop-right">
        <li>Полное имя: <b>{fullname}</b></li>
        <li>Группа: {status}</li>
        <li>Дата посещения: <b>{lastdate}</b></li>
        <li>Дата регистрации: <b>{registration}</b></li>
        <li>Всего статей: <b>{news-num}</b> [ {news} ]</li>
        <li>Комментариев: <b>{comm-num}</b> [ {comments} ]</li>
    </ul>
</div>