<div id="slider">
    <div class="head_wrap">
        <div class="head_arrow head_left"></div>
        <div class="head_arrow head_right"></div>
        <div class="head_nav" style="width: 63px;">
        </div>
        <div class="head_bg_wrap" style="width: 1349px;">
            <div class="head_bg" style="width: 4047px; margin-left: 0px;">
                <a href="/">
                    <div class="head_slide"
                         style="width: 1349px; background-image: url('img/1.png');">
                        <div class="head_text" style="display: block;"></div>
                    </div>
                </a>
                <a href="/">
                    <div class="head_slide"
                         style="width: 1349px; background-image: url('img/2.jpg');">
                        <div class="head_text" style="display: none;"></div>
                    </div>
                </a>
                <a href="/">
                    <div class="head_slide"
                         style="width: 1349px; background-image: url('img/3.jpg');">
                        <div class="head_text" style="display: none;"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>