﻿<!--noindex-->
<div class="clr"></div>
<div class="pagi-nav clearfix ignore-select">
    [not-page-count=1]<span class="pprev">[prev-link]<span class="fa fa-arrow-left"></span>[/prev-link]</span>[/not-page-count]
    <span class="navigation">{pages}</span>
    <span class="pnext">[next-link]<span class="fa fa-arrow-right"></span>[/next-link]</span>
</div>
<!--/noindex-->