﻿<html>
<head>
    <meta content="text/html; charset={charset}" http-equiv=Content-Type>
    <script type="text/javascript" src="/engine/classes/js/jquery.js"></script>
    <script type="text/javascript" src="/engine/classes/js/jqueryui.js"></script>
    <script type="text/javascript" src="/engine/classes/js/dle_js.js"></script>
    <style>
        body, td {
            font-family: verdana, arial, sans-serif;
            color: #666;
            font-size: 80%;
        }

        h1, h2, h3, h4 {
            font-family: verdana, arial, sans-serif;
            color: #666;
            font-size: 100%;
            margin: 0px;
        }
    </style>
    <title>DataLife Engine > Версия для печати > {description}</title>
</head>
<body bgcolor="#ffffff" text="#000000">
<table border="0" width="100%" cellspacing="1" cellpadding="3">
    <tr>
        <td width="100%">
            <a href="/">Главная</a> > {description}
            <hr>
        </td>
    </tr>
    <tr>
        <td width="100%">
            {static}
            <hr>
            <a href="javascript:history.go(-1)">Вернуться назад</a>
        </td>
    </tr>
</table>
</body>
</html>