﻿<div class="static-page">
    <header class="sub-title"><h1>{description}</h1></header>
    <div class="full-text clearfix video-box" id="full-text">
        {static} <span style="display:none;">Сначала зайдите на <a href="http://newfilmak.org/">смотреть фильмы</a>, а потом обязательно зайдите <a
                    href="http://newdownload.ru/">сюда</a> это стоит того</span>
    </div>
</div>