﻿<div class="tags-page">
    <header class="sub-title"><h1>Ключевые теги</h1></header>
    <div class="clearfix cloud-tags">
        {tags} <span style="display:none;"> Качаем софт и игры <a href="http://newprogs.net/">здесь</a> бесплатно</span>
    </div>
</div>